<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
         http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-4.0.xsd"
>
<aop:aspectj-autoproxy/>
    <!--&lt;!&ndash;Waiter类切面&ndash;&gt;
    <bean id="waiter" class="com.lvjc.bean.NaiveWaiter"/>
    <bean class="com.lvjc.aspect.waiterAspect.PreGreetingAspect"/>
    &lt;!&ndash;ForumService类切面&ndash;&gt;
    <bean id="forumService" class="com.lvjc.bean.ForumService"/>
    <bean class="com.lvjc.aspect.forumServiceAspect.ForumServiceAspect"/>
    &lt;!&ndash;通用切面&ndash;&gt;
    <bean class="com.lvjc.aspect.commonAspect.CommonPointcut"/>
    <bean class="com.lvjc.aspect.commonAspect.CommonAspect"/>-->
    <context:component-scan base-package="com.lvjc"/>
</beans>